@use './assets/scss/mixins';

.layout {
  display: grid;
  grid-template-areas: var(--layout-areas, 'header' 'editor');
  grid-template-columns: var(--layout-columns, 1fr);
  grid-template-rows: var(--layout-rows, auto 1fr);
  height: 100%;
  box-sizing: border-box;
  &__header {
    grid-area: header;
    position: relative;
  }
  &__editor {
    grid-area: editor;
  }
  &__preview {
    grid-area: preview;
    position: relative;
    width: 42vw;
    max-width: 640px;
  }
  &--preview {
    --layout-areas: 'header header' 'editor preview';
    --layout-columns: 1fr auto;
  }
  @include mixins.responsive(mobile) {
    --layout-areas: 'header' 'editor';
    --layout-columns: 1fr;
    --layout-rows: unset;
    &__preview {
      display: none;
    }
  }
}

.modal-data {
  --modal-width: 720px;
  --modal-height: 540px;
}
.modal-about {
  --modal-width: 640px;
  --modal-height: 600px;
}
