.layout {
  display: grid;
  grid-template-areas: var(--layout-area, 'header' 'editor');
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  container: layout / inline-size;
  width: 100vw;
  height: 100vh;
  &__header {
    grid-area: header;
  }
  &__editor {
    grid-area: editor;
  }
  &__preview {
    grid-area: preview;
  }
  &--preview {
    grid-template-areas: var(--layout-area, 'header header' 'editor preview');
    grid-template-columns: 1fr 1fr;
  }
}

.modal-data {
  --modal-width: 800px;
  --modal-height: 540px;
}

.modal-about {
  --modal-width: 640px;
  --modal-height: 600px;
}
