@use '../../assets/scss/mixins';

.manage-json {
  padding: 30px;
  box-sizing: border-box;
  &__header {
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  &__form {}
  &__source {
    legend {}
    textarea {}
  }
  &__nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
