:root {
  --color-base: #111111;
  --color-key: hsl(240 82% 75%);
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'Monaco', sans-serif;
}

html {}
body {
  margin: 0;
  padding: 30px;
  color: var(--color-base);
  font-family: var(--font-base);
}

.layout {}

.header {
  h1 {
    margin: 0;
    line-height: 1.05;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 700;
  }
}

.gnb {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0 0 0;
  user-select: none;
  menu {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  button {
    display: block;
    margin: 0;
    padding: 8px 16px;
    background: var(--color-key);
    border: none;
    cursor: pointer;
    color: hsl(0 0% 100%);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    &:disabled {
      opacity: .5;
      cursor: default;
    }
    &:active {
      opacity: .5;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 24px 0 0;
}

.editor {
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  &.system {
    background: #fff;
    @media (prefers-color-scheme: dark) {
      background: #111;
      border-color: #111;
    }
  }
  &.light {
    background: #fff;
    border-color: #ccc;
  }
  &.dark {
    background: #111;
    border-color: #111;
  }
}

.preview {
  pre {
    margin: 0;
    padding: 24px;
    background: #f4f4f4;
    border: 1px dashed #999;
    font-size: 13px;
    font-family: var(--font-code);
    line-height: 1.62;
  }
}