:root {
  --color-base: #111111;
  --color-key: #42b883;
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'Monaco', sans-serif;
}

body {
  padding: 20px;
  color: var(--color-base);
}

body, button, input {
  font-family: var(--font-base);
}

::selection {
  color: hsl(0 0% 100%);
  background: var(--color-key);
}
