.context {
  --context-border-radius: 4px;
  --context-color-line: hsl(0 0% 88%);
  --context-color-item-active: hsl(0 0% 92%);
  position: absolute;
  top: -8px;
  left: 56px;
  z-index: 2;
  &.is-root {
    left: 28px;
  }
}

// sub context
.context :global(.context) {
  top: 0;
  right: 0;
  left: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;
  & :global(> ul) {
    left: -4px;
    top: -8px;
  }
}

// ul
.context > ul {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--context-color-line);
  border-radius: var(--context-border-radius);
  box-shadow:
    0 4px 32px 0 hsla(0 0% 0% / 10%),
    0 2px 8px 0 hsla(0 0% 0% / 20%),
    0 0 0 1px hsla(0 0% 0% / 5%);
}
