@use 'mixins';
@import 'normalize';

:root {
  --color-bg: hsl(0 0% 100%);
  --color-base: hsl(0 0% 13.5%);
  --color-key: hsl(5 87% 59%);
  --color-blur: hsl(0 0% 58%);
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color-scheme: light;
  @include mixins.dark-mode(true) {
    color-scheme: dark;
    --color-bg: hsl(0 0% 13%);
  }
}

html, body {
  -webkit-text-size-adjust: none;
}
html {
  touch-action: manipulation;
}
body {
  margin: 0;
  min-width: 900px;
  background: var(--color-bg);
  font-size: 16px;
  line-height: 1.52;
  color: var(--color-base);
  position: fixed;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
}
a {
  color: var(--color-key);
}
::selection {
  background: var(--color-key);
  color: hsl(0 0% 100%);
}
