// dark mode
@mixin dark-mode($root: false)
{
  @if ($root)
  {
    &[data-theme=dark] {
      @content;
    }
    &[data-theme=system],
    &:not([data-theme]),
    &[data-theme=""] {
      @media (prefers-color-scheme: dark) {
        @content;
      }
    }
  }
  @else
  {
    html[data-theme=dark] & {
      @content;
    }
    @media (prefers-color-scheme: dark) {
      html[data-theme=system] &,
      html:not([data-theme]) &,
      html[data-theme=""] & {
        @content;
      }
    }
  }
}

// background blur
@mixin background-blur($size: 8px)
{
  @supports (backdrop-filter: blur(#{$size})) or (-webkit-backdrop-filter: blur(#{$size})) {
    backdrop-filter: blur(#{$size});
    -webkit-backdrop-filter: blur(#{$size});
    @content;
  }
}

// hover
@mixin hover()
{
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
