.layout {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 1.05;
    font-weight: 700;
    color: var(--color-base);
    letter-spacing: -1px;
  }
}

.controller {
  margin: 8px 0 0;
  display: flex;
  gap: 8px;
  menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1px;
  }
  li {}
  button {
    display: block;
    margin: 0;
    padding: 8px 16px;
    color: hsl(0 0% 100%);
    background: var(--color-key);
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    &:disabled {
      opacity: .5;
      cursor: default;
    }
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0 0;
  gap: 12px;
  &__editor {
    border: 1px dashed hsl(0 0% 75%);
    padding: 24px;
    box-sizing: border-box;
    &.system {
      background: #fff;
      @media (prefers-color-scheme: dark) {
        background: #333;
      }
    }
    &.light {
      background: #fff;
    }
    &.dark {
      background: #333;
    }
  }
  &__preview {
    background: hsl(0 0% 95%);
    padding: 24px;
    box-sizing: border-box;
    pre {
      margin: 0;
      font-family: var(--font-code);
      font-size: 13px;
      line-height: 1.62;
      word-break: break-all;
      white-space: break-spaces;
    }
  }
}
