@use '../../assets/scss/mixins';

.preview {
  display: grid;
  grid-template-rows: 36px 1fr;
  height: calc(100vh - var(--layout-header-height));
  background: hsl(0 0% 93%);
  box-sizing: border-box;
  box-shadow:
    1px 0 0 0 hsla(0 0% 0% / 10%) inset,
    6px 0 24px 0 hsla(0 0% 0% / 8%) inset;
  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 6px;
    padding: 0 12px;
    background: hsl(0 0% 64%);
    user-select: none;
    --icon-size: 16px;
    --icon-color: hsl(0 0% 100%);
    h1 {
      margin: 0;
      font-size: 14px;
      line-height: 1.05;
      color: hsl(0 0% 100%);
      font-weight: 700;
    }
  }
  &__body {
    padding: 24px;
    box-sizing: border-box;
    pre {
      display: block;
      margin: 0;
      font-family: var(--font-code);
      font-size: 12px;
      line-height: 1.42;
      box-sizing: border-box;
      word-break: break-all;
      white-space: break-spaces;
    }
  }
}

@include mixins.dark-mode() {
  .preview {
    background: hsl(0 0% 20%);
    box-shadow:
      1px 0 0 0 hsla(0 0% 100% / 10%) inset,
      6px 0 24px 0 hsla(0 0% 0% / 20%) inset;
    &__header {
      background: hsl(0 0% 36%);
    }
  }
}
