@use '../../assets/scss/mixins';

.preview {
  --preview-padding: 20px;
  --preview-header-height: 26px;
  position: fixed;
  top: var(--layout-header-height);
  right: 0;
  width: var(--preview-width);
  max-width: calc(var(--preview-max-width));
  height: calc(100vh - var(--layout-header-height));
  padding: var(--preview-padding);
  box-sizing: border-box;
  @supports (-webkit-touch-callout: none) {
    height: calc(90vh - var(--layout-header-height));
  }
  &__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow:
      0 0 0 1px hsla(0 0% 0% / 10%),
      0 4px 32px 0 hsla(0 0% 0% / 20%);
    border-radius: 4px;
    overflow: hidden;
  }
  &__header {
    height: var(--preview-header-height);
    padding: 2px 16px;
    background: hsl(0 0% 24%);
    user-select: none;
    --icon-stroke: 3;
    h1 {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 4px;
      margin: 0;
      font-size: 12px;
      line-height: 1.05;
      font-weight: 600;
      color: hsl(0 0% 100%);
      --icon-size: 14px;
      --icon-color: hsl(0 0% 100%);
    }
  }
  &__body {
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
    background: hsla(0 0% 90% / 75%);
    pre {
      display: block;
      margin: 0;
      font-family: var(--font-code);
      font-size: 11px;
      line-height: 1.48;
      box-sizing: border-box;
      word-break: break-all;
      white-space: break-spaces;
    }
  }
}

@include mixins.dark-mode() {
  .preview {
    &__wrap {
      box-shadow:
        0 0 0 1px hsla(0 0% 5% / 100%),
        0 4px 32px 0 hsla(0 0% 0% / 25%);
    }
    &__body {
      background: hsla(0 0% 20% / 75%);
    }
    &__header {
      background: hsl(0 0% 5%);
    }
  }
}
