@mixin tree() {
  position: relative;
  display: none;
  margin: 10px 0 0;
  padding: 0 0 0 32px;
  list-style: none;
  gap: 6px 0;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    top: 0;
    bottom: 5px;
    width: 1px;
    background: hsla(0 0% 67% / 100%);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    bottom: 5px;
    width: 7px;
    height: 7px;
    background: hsla(0 0% 67% / 100%);
    border-radius: 50%;
  }
  &.show {
    display: grid;
  }
}
