dl {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0 6px;
  dt {
    position: relative;
    box-sizing: border-box;
  }
  dd {
    display: flex;
    align-items: center;
    gap: 0 5px;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--json-editor-font-size);
    --label-min-width: 72px;
    &:before {
      content: ':';
    }
  }
}

ul {
  position: relative;
  display: none;
  margin: 6px 0 0;
  padding: 0 0 0 20px;
  list-style: none;
  gap: 6px 0;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    top: 0;
    bottom: 11px;
    width: 4px;
    border-width: 0 0 0 1px;
    border-style: dashed;
    border-color: hsla(0 0% 72% / 100%);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    bottom: 10px;
    width: 5px;
    height: 5px;
    background: hsla(0 0% 72% / 100%);
    border-radius: 50%;
  }
  &.show {
    display: grid;
  }
}
