@import './assets/global';

.layout {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  text-align: center;
  padding: 36px 0 0 0;
  &__title {
    margin: 0;
    color: var(--dev-color-base);
    font-size: 32px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.05;
    user-select: none;
  }
  &__gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px 6px;
    margin: 12px 0 0;
    menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px 1px;
    }
    li {}
    button {
      display: block;
      margin: 0;
      padding: 0 12px;
      height: 28px;
      background: var(--dev-color-key);
      font-size: 14px;
      line-height: 1;
      color: var(--dev-color-white);
      border: none;
      cursor: pointer;
      font-weight: 600;
      &:active {
        opacity: .5;
      }
      &:disabled {
        opacity: .5;
        cursor: default;
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 42px 0 0;
  gap: 16px;
  &.hide-preview {
    grid-template-columns: 1fr;
    .preview {
      display: none;
    }
  }
}

.editor {
  --dev-editor-color-bg: #fff;
  background: var(--dev-editor-color-bg);
  @media (prefers-color-scheme: dark) {
    --dev-editor-color-bg: #222;
  }
  &--light {
    --dev-editor-color-bg: #fff;
  }
  &--dark {
    --dev-editor-color-bg: #333;
  }
  &__header {
    background: var(--dev-color-key);
  }
  &__body {
    min-height: 120px;
    padding: 24px;
    box-sizing: border-box;
  }
}

.preview {
  background: var(--dev-color-white);
  &__header {
    background: hsl(0 0% 24%);
  }
  &__body {
    min-height: 120px;
    padding: 24px;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    font-family: var(--font-code);
    line-height: 1.6;
  }
}

.editor,
.preview {
  border-radius: 2px;
  box-shadow:
    0 4.5px 3.6px rgba(0, 0, 0, 0.042),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 30.1px 24.1px rgba(0, 0, 0, 0.078),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.content-header {
  margin: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  h1 {
    margin: 0;
    padding: 4px 0 4px 8px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dev-color-white);
    line-height: 1;
    user-select: none;
  }
}
