@use '../../assets/scss/mixins';

.header {
  height: var(--layout-header-height);
  background: hsl(0 0% 100% / 75%);
  box-shadow:
    0 2px 16px hsla(0 0% 0% / 20%),
    0 1px 0 0 hsla(0 0% 0% / 8%);
  &__wrap {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100%;
  }
  &__logo {
    display: grid;
    place-content: center;
    margin: 0 0 0 8px;
    width: 60px;
    --logo-symbol-wdith: 36px;
  }
  &__body {}
  &__side {}
  @include mixins.responsive(mobile) {
    &__side {
      display: none;
    }
  }
}
@include mixins.dark-mode() {
  .header {
    background: hsl(0 0% 0% / 75%);
    box-shadow:
      0 2px 16px hsla(0 0% 0% / 32%),
      0 1px 0 0 hsla(0 0% 100% / 6%);
  }
}

.gnb {
  @mixin active-sub-menu() {
    background-color: var(--gnb-menu-color-active, hsl(0 0% 92%));
    .gnb__sub {
      opacity: 1;
      pointer-events: auto;
    }
  }
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
  gap: 0;
  &__item {
    position: relative;
    transition: background-color 120ms ease-out;
    &:focus-within {
      @include active-sub-menu();
    }
    @include mixins.hover() {
      @include active-sub-menu();
    }
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0 12px;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    transition: opacity 120ms ease-out;
    -webkit-tap-highlight-color: transparent;
    &[type=button] {
      border: none;
      border-radius: 0;
      background: none;
      cursor: pointer;
      &:active {
        opacity: .5;
      }
      &:focus-visible {
        outline: 2px solid var(--color-key);
        outline-offset: -2px;
      }
    }
  }
  &__sub {
    position: absolute;
    z-index: 3;
    left: -10px;
    top: calc(100% - 4px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 160ms ease-out;
  }
}
@include mixins.dark-mode() {
  .gnb {
    --gnb-menu-color-active: hsl(0 0% 16%);
  }
}

.toggle-preview {
  --bg: 0 0% 92%;
  display: grid;
  place-content: center;
  width: var(--layout-header-height);
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsla(var(--bg) / 0%);
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition:
    opacity 120ms ease-out,
    background 120ms ease-out;
  -webkit-tap-highlight-color: transparent;
  --icon-size: 20px;
  --icon-stroke: 2;
  @include mixins.hover() {
    background: hsla(var(--bg) / 100%);
  }
  &:active {
    opacity: .5;
  }
  &:focus-visible {
    outline: 2px solid var(--color-key);
    outline-offset: -2px;
  }
  &.on {
    background: var(--color-key);
    --icon-color: hsl(0 0% 100%);
    &:focus-visible {
      outline: 2px solid var(--color-base);
    }
  }
}
@include mixins.dark-mode() {
  .toggle-preview {
    --bg: 0 0% 16%;
    @include mixins.hover() {
      &.on {
        background: var(--color-key);
        opacity: .85;
      }
    }
  }
}
